<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-row"> 
    <div class="form-group col-md-4">
      <%= form.label :nombre %>
      <%= form.text_field :name,class:"form-control" , placeholder:"Entre con el nombre del nuevo servicio"  %>
    </div>
  
  </div>


   
  <div class="actions">
    <% if service.new_record? %>
      <%= form.submit 'Crear el servicio' %>
    <% else %>
      <%= form.submit 'Actualizar' %>
    <%end%>
  
  </div>
  <br>
  <br>
  




<% end %>
