<p id="notice"><%= notice %></p>

<div class="form-group col-md-4">
      <%= label_tag nil, @service.class.human_attribute_name(:name) %>
      <%= text_field_tag nil, @service.name, class:"form-control", disabled: true %>
</div>

<%= link_to 'Modificar', edit_service_path(@service),class:"btn btn-primary" %> |
<%= link_to 'Volver', services_path,class:"btn btn-primary" %>
