<p id="notice"><%= notice %></p>

<h3>Todos los servicios programados</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Servicio</th>
      <th>Fecha del servicio</th>
      <th>Mensaje</th>
      <th>Hora del servicio</th>
      <th>id</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_x_services.each do |usr| %>
      <tr>
        <td><%= usr.name %></td>
        <td><%= usr.email %></td>
        <td><%= usr.service.name %></td>
        <td><%= usr.servicedate.strftime("%d/%m/%Y") %></td>
        <td><%= usr.message %></td>
        <td><%= usr.servicetime.strftime("%H:%M:%S") %></td>
        <td><%= usr.id %></td>
        
        <td><%= link_to 'Mostrar', usr %></td>
        <td><%= link_to 'Modificar', edit_user_x_service_path(usr)  %></td>
         <td>     <%= link_to "Delete", user_x_service_path(@user_x_services, usr), method: :delete %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo servicio', new_user_x_service_path,class:"btn btn-primary" %>

