<p id="notice"><%= notice %></p>

<h4>User X Services</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Servicio</th>
      <th>Fecha del servicio</th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_x_services.each do |usr| %>
      <tr>
        <td><%= usr.name %></td>
        <td><%= usr.email %></td>
        <td><%= usr.service.name %></td>
        <td><%= usr.servicedate.strftime("%d/%m/%Y") %></td>
        <td><%= usr.message %></td>
        <td><%= link_to 'Show', usr %></td>
        <td><%= link_to 'Edit', edit_user_x_service_path(usr)  %></td>
        <td><%= link_to 'Destroy', usr, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_user_x_service_path,class:"btn btn-primary" %>
