<!DOCTYPE html>
<html>
  <head>
    <title>Spa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    
   

  <style>
    body {
      background-color: #ccc;
    }
  </style>

  </head>

  <body>
     <div class = "container-fluid">  
        <ul class="nav justify-content-end">
          <li class="nav-item">
          <!-- Liha de coment>
          <%= link_to 'Volver para Inizio', root_path ,class:"w3-button w3-white w3-btn w3-round-xxlarge w3-hover-sand w3-center" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li-->
          <li class="nav-item">
            <!--a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a-->
          
            <%= link_to 'Volver para Inizio', root_path ,class:"nav-link" %>

          </li>
        </ul>
        
        <%= yield %>
        
        


        <% if controller.controller_name == "user_x_services" %>
          <% if  controller.action_name != "new" &&  controller.action_name != "edit" &&  controller.action_name != "index" &&  controller.action_name != "show" %> 
            <div class="w3-container">
		          <%= link_to 'haga tu cita', new_user_x_service_path ,class:"w3-button w3-white w3-btn w3-round-xxlarge w3-hover-sand w3-center" %>
		   	    </div>
          <%end%>   
        <%end%>

        <% if controller.controller_name == "welcome" %>
          <% if  controller.action_name != "index"%>
            <div class="w3-container">
		          <%= link_to 'haga tu cita', new_user_x_service_path ,class:"w3-button w3-white w3-btn w3-round-xxlarge w3-hover-sand w3-center" %>
		   	    </div>
          <%end%>   
        <%end%>

     </div>  
  </body>
</html>
